; {{ ansible_managed }}

[Unit]
Description=Set up a persistent tunnel (using autossh)
After=network.target

[Service]
Type=simple
ExecStart={{ autossh_tunnel_client_install_prefix }}/autossh-tunnel-client-wrapper
Restart=always

[Install]
WantedBy=multi-user.target
