# {{ ansible_managed }}
#
# autossh-tunnel-client configure options

AUTOSSH_DEBUG={{ autossh_tunnel_client_autossh_debug }}
AUTOSSH_FIRST_POLL={{ autossh_tunnel_client_autossh_first_poll }}
AUTOSSH_GATETIME={{ autossh_tunnel_client_autossh_gatetime }}
AUTOSSH_LOGLEVEL={{ autossh_tunnel_client_autossh_loglevel }}
AUTOSSH_PIDFILE={{ autossh_tunnel_client_autossh_pidfile }}
AUTOSSH_POLL={{ autossh_tunnel_client_autossh_poll }}
