# {{ ansible_managed }}

# autossh-tunnel-client

description "Set up a persistent tunnel (using autossh)"
author      "Mischa ter Smitten"

start on net-device-up
stop on runlevel [01S6]

respawn
respawn limit unlimited
umask 022

pre-start script
  /usr/bin/test -x {{ autossh_tunnel_client_install_prefix }}/autossh
  /usr/bin/install -d -m 0755 {{ autossh_tunnel_client_autossh_pidfile | dirname }}
end script

script
  set -a
  [ -r /etc/default/autossh-tunnel-client ] && . /etc/default/autossh-tunnel-client

  {{ autossh_tunnel_client_install_prefix }}/autossh \
    {% for autossh_options in autossh_tunnel_client_autossh_options %} -{{ autossh_options }}{% endfor %} {% for forward in autossh_tunnel_client_forward %}-L {{ forward }} {% endfor %}{{ autossh_tunnel_client_user }}@{{ autossh_tunnel_client_host }} -p {{ autossh_tunnel_client_port }} -i {{ autossh_tunnel_client_configuration_directory }}/{{ autossh_tunnel_client_identity }} {% for ssh_options in autossh_tunnel_client_ssh_options %}-o "{{ ssh_options }}" {% endfor %} \
  ;
end script
