# {{ ansible_managed }}

# autossh-tunnel-client

description "Set up a persistent tunnel (using autossh)"
author      "Mischa ter Smitten"

start on net-device-up
stop on runlevel [01S6]

respawn
respawn limit unlimited
exec {{ autossh_tunnel_client_install_prefix }}/autossh-tunnel-client-wrapper;
